/*!
* Mastertech - The Big Picture
 * Insira seu código entre os comentários localizados no fim desta pagina ou/e
 * Edite o código do layout original
 */


/* Edite o código abaixo para mudar as opções do layout original */

body {
    background: url('http://placehold.it/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


/* Inicio do meu CSS */


/* Fim do meu CSS */
